//color names provided by http://chir.ag/projects/name-that-color/
$apple: #5cbc4a;
$apple-red: #d3212b;
$white: #fff;
$black: #000;
$woodsmoke: #101416;
$abbey: #515558;
$silversand: #b9baba;
$gray: #808080;
$codgrey: #121212;
$conifer: #a1da53;
$tundora: #494949;
$black-transparent: rgba($black, .3);
$abbey-transparent: rgba($abbey, .5);
$white-transparent: rgba($white, .92);
$white-transparent-30: rgba($white, .35);
$silverchalice: #a6a6a6;
$facebook-blue: #3b5998;
$shark: #202224;
$alizarin-crimson: #e8303b;
$nevada: #707172;
$emperor: #545454;
$mineshaft: #393939;
$oslogrey: #919292;
$section-backround: transparent;
$test: $black;
