/* SASS FUNCTIONS
   ========================================================================== */
@function get-vw-from-px($px, $targetviewport)
{
    @return ($px * 100) / $targetviewport + vw;
}
@function get-vh-from-px($px, $targetviewport)
{
    @return ($px * 100) / $targetviewport + vh;
}
@function span-cols($cols, $maxWidth: false)
{
    $width: 100;
    $retVal: (($width / $grid-col-count) * $cols);
    @if $maxWidth
    {
        $width: $desktop-max;
    }
    @if $maxWidth
    {
        @return $retVal + px;
    }
    @return $retVal + vw;
}
