ul
{
    padding: inherit;
}
a,
select
{
    outline: none;
}
.container
{
    position: relative;

    display: block;

    margin: 0 auto;

    @include max-width()
    {
        width: $desktop-max+px;
    }
}
