@font-face {
  font-family: 'GT-Walsheim-Regular';
  src: url('./fonts/GT-Walsheim-Regular.eot');
  src: url('./fonts/GT-Walsheim-Regular.eot?#iefix') format('embedded-opentype'),
  url('./fonts/GT-Walsheim-Regular.woff') format('woff'),
  url('./fonts/GT-Walsheim-Regular.ttf') format('truetype'),
  url('./fonts/GT-Walsheim-Regular.svg#c09e4204b97e897edf91d5f24f9b9a95') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'eir-medium-web';
  src: url('./fonts/eir-medium-web.eot');
  src: url('./fonts/eir-medium-web.eot?#iefix') format('embedded-opentype'),
  url('./fonts/eir-medium-web.woff') format('woff'),
  url('./fonts/eir-medium-web.ttf') format('truetype'),
  url('./fonts/eir-medium-web.svg#c09e4204b97e897edf91d5f24f9b9a95') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* FONTS */
@mixin eirMedium($color: $white) {
  color: #{$color};
  font-family: 'eir-medium-web', sans-serif;
}
@mixin WalsheimRegular($color: $white) {
  color: #{$color};
  font-family: 'GT-Walsheim-Regular', sans-serif;
}
@mixin courier($color: $white) {
  color: #{$color};
  font-family: 'Courier New', Courier, monospace;
}
@mixin helvetica($color: $white) {
	color: #{$color};
	font-family: 'Helvetica Neue', 'Helvetica', 'Roboto', 'Arial', sans-serif;
}
