$ns: aog-; //css namespace for the current page
$imagePath: '../images/';//css path for images
$placehold_it: 'http://placehold.it/';
$btn-width: 54;
$btn-width-mobile: 37;
$btn-width-big: 104;
$psd-width--mobile: 414;
$psd-width--tablet: 1024;
$psd-width--desktop: 1280;
$psd-width--retina: 4000;
$psd-height--mobile: 736;
$psd-height--tablet: 768;
$psd-height--desktop: 900;
$psd-height--iphone5: 568;
$psd-width--iphone5: 320;
$psd-height--ipad-landscape: 768;
$psd-height--ipad-portrait: 1024;
$mobile-max: 767;
$tablet-min: 768;
$tablet-max: 1024;
$desktop-min: 1025;
$desktop-max: 1280;
$grid-col-count: 16;
$column-width--tablet: 64;
$column-width--desktop: 90;
$column-width--mobile: 414/16;
$z-index-100: 100;
$z-index-60: 60;
$z-index-50: 50;
$z-index-40: 40;
$z-index-30: 30;
$z-index-1: 1;
$z-index-dotcom: 30000;
$top--bag-desktop: 6.02;
$top--bag-mobile: 9.65;
$top--bottle-desktop: 3.9;
$top--bottle-mobile: 13;
$duration-default: .3s;
$facebook-btn-register-large: 47.75%;
