<!DOCTYPE html>
<html>
  <head>
    {{> head}}
  </head>

  <body id='js-app'>
    {{> styles}}
    {{> svgDefs}}
    <div class="u-maxw">
        <div class="ChartWrapper u-center-children"></div>
    </div>
    {{> loader}}
    {{> scripts}}
  </body>
</html>
