<!DOCTYPE html>
<html>
  <head>
    {{> head}}
  </head>

  <body id='js-app'>
    {{> styles}}
    {{> svg-defs}}
    <div class="u-maxw">

    </div>
    {{> loader}}
    {{> scripts}}
  </body>
</html>
