<!DOCTYPE html>
<html>
  <head>
    {{> head}}
  </head>

  <body class='nba--preload' id='js-app'>  
    {{> svg-defs}}  
    hi there
    {{> scripts}}    
    {{> styles}}          
  </body>
</html>
