<!DOCTYPE html>
<html>
  <head>
    {{> head}}
    <script src="critical.js"></script>
  </head>

  <body class='is-loading' id='js-app'>  
    {{> svg-defs}}  
    <a href='/'>hi there  </a>
    {{> scripts}}    
    {{> styles}}          
  </body>
</html>
