<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
    <title>{{title}}</title>
    {{> styles}}
  </head>

  <body>
    <div class="container">
        <div class="wpCarousel js-autoplay js-swipe">
          <ul class="carousel">
              {{> carousel_woman}}         
          </ul>
          <ul class="counter counter-js">
            {{> carousel_counter_woman}}
          </ul>
          {{> carousel_controls}}
        </div> 
        <div class="wpCarousel js-swipe">
          <ul class="carousel">
              {{> carousel_man}}         
          </ul>
          <ul class="counter counter-js">
            {{> carousel_counter_man}}
          </ul>
          {{> carousel_controls}}
        </div>              
    </div>


    {{> scripts}}    
  </body>
</html>
