<!DOCTYPE html>
<html>
  <head>
    {{> head}}
  </head>

  <body id='js-app'>
    {{> styles}}
    {{> svg-defs}}
    {{> hero}}
    {{> nav}}
    {{> cards}}
    {{> community}}
    {{> subscribe}}
    {{> download}}
    {{> footer}}
    {{> loader}}
    {{> criticalScripts}}
    {{> scripts}}
  </body>
</html>
