<!DOCTYPE html>
<html>
  <head>
    {{> head}}
  </head>

  <body class='is-loading' id='js-app'>
    {{> svg-defs}}
    <a href='/'>hi there  </a>
    {{> criticalScripts}}
    {{> styles}}
  </body>
</html>
