<!DOCTYPE html>
<html>
  <head>
    {{> head}}
    {{> styles}}
  </head>

  <body>
    <div class="nba-styleguide">
    	<div class="nba-styleguide__title">
    		GREEN CAN POLYGONS
    	</div>
    	<div class="nba--green">
      		{{> polygons-styleguide}}    		
    	</div>
    	<div class="nba-styleguide__title">
    		BLACK CAN POLYGONS
    	</div>    	
    	<div class="nba--black">
      		{{> polygons-styleguide}}    		
    	</div>
    </div> 
    </div>
    {{> svg-defs}}
    {{> polygon-defs}}
  </body>
</html>
