doctype html
html
  head
    include partials/head
  body#js-app
    include partials/svgDefs
    include partials/loader
    .u-maxw
      include partials/title
      include partials/grid
    include partials/modal
