<!DOCTYPE html>
<html>
  <head>
    {{> partials/head}}
  </head>

  <body id='js-app'>
    {{> partials/styles}}
    {{> partials/svgDefs}}
    <div class="u-maxw">

    </div>
    {{> partials/loader}}
    {{> partials/scripts}}
  </body>
</html>
