<!DOCTYPE html>
<html>
  <head>
    {{> partials/head}}
  </head>

  <body id='js-app'>
    {{> partials/svgDefs}}
    <div class="u-maxw">
      Hi There!
    </div>
    {{> partials/loader}}
  </body>
</html>
