doctype html
html
  head
    include partials/head
  body#js-app
    include partials/svgDefs
    include partials/loader
    .above-the-fold
      include partials/aboveTheFold
    .u-maxw.u-container-padded
      include partials/grid
