{{#each carousel_items}} 
          <li class="item {{this.theme}}">
            <a href="#">
              <img class="" src="{{this.image}}" alt="">
              <div class="wrapText">
                <div class="text u-centered">
                  <h2 class="title">TITLE</h2>
                  <h3 class="subTitle">Subtitle</h3>
                </div> 
              </div>
            </a>
          </li> 
{{/each}}