<div class="r-community">
    <div class="r-community__container u-maxw">
        <div class="u-content-padded">
            <div class="r-community-item">
                <div class="u-centered u-w100">
                    <img src="{{assetFolder}}/images/layout/logo-green.png" alt="Awesome logo" class="r-community-item__logo">
                    <p class="r-community-item__title">OUR COMMUNITY</p>
                    <p class="r-community-item__copy">Lorem ipsum dolor sit amet, consectetur adipiscing elit,</p>
                </div>
            </div>
            <div class="r-community-item">
                <img src="{{assetFolder}}/images/layout/car.jpg" alt="A car" class="r-community-item__thumbnail u-centered">
            </div>
            <div class="r-community-item">
                <img src="{{assetFolder}}/images/layout/leaves.jpg" alt="Autumn leaves" class="r-community-item__thumbnail  u-centered">
            </div>
        </div>
    </div>
</div>
