<div class="r-download">
    <p class="r-download__title">DOWNLOAD IT</p>
    <p class="r-download__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    <div class="r-download-btn-container">
        <div class="r-download-btn">
            APPLE STORE
        </div>
        <div class="r-download-btn">
            PLAY STORE
        </div>
    </div>

</div>
