<div class="r-footer">
    <div class="u-content-padded u-relative">
        <div class="r-footer-left">
            <div class="r-footer-left__top">
                <a class="r-footer__link">CREDITS</a>
                <a class="r-footer__link r-footer__link--decorated">PRIVACY</a>
                <a class="r-footer__link">OUR TEAM</a>
            </div>
            <div class="r-footer-left__bottom">
                <div class="r-footer__copyright">Copyright by phototime - all rights reserved</div>
            </div>
        </div>
        <div class="r-footer-right">
            <img src="{{assetFolder}}/images/layout/logo-green.png" alt="Awesome logo" class="r-footer-logo">
        </div>
    </div>
</div>
