<div class="r-hero">
    <div class="r-hero__background u-full-background"></div>
    <div class="r-hero__discover u-centered">
        <h1 class="r-hero__title u-intro">
            your life, a photo
        </h1>
        <h3 class="r-hero__subtitle u-intro">
            print your life in a simple photo
        </h3>
        <div class="r-hero__cta r-cta u-intro js-scrollTo" data-scroll="card">GET STARTED</div>
    </div>
</div>
