<nav class="r-nav u-maxw">
    <div class="u-content-padded u-relative">
        <a href="/" class="r-nav-logo r-nav-item u-intro">
            <img src="{{assetFolder}}/images/layout/logo.png" alt="Awesome logo" class="r-img">
        </a>
        <div class="r-menu r-nav-item u-intro">
            <div class="r-menu__line"></div>
            <div class="r-menu__line"></div>
            <div class="r-menu__line"></div>
        </div>
    </div>
</nav>
