<div class="r-subscribe u-full-background">
    <div class="u-centered r-subscribe-container">
        <label class="r-subscribe__title">SUBSCRIBE TO OUR COMMUNITY</label>
        <input type="text" class="r-subscribe__email" placeholder='YOUR EMAIL'>
        <span class="r-subscribe__email-addon r-btn-addon">
            <img src="{{assetFolder}}/images/layout/check.png" alt="Confirm" class="r-check u-centered">
        </span>
    </div>
</div>
