.r-grid {
  display: block;
  font-size: 0;
}

.info {
  display: block;
  text-align: center;
  margin: span-cols(4) span-cols(1);
  @include max-width {
    margin: span-cols(4, true) span-cols(1, true);
  }
}
