.r-grid {
  display: block;
  font-size: 0;
}

.info {
  font-size: 18px;
  display: block;
  text-align: center;
  margin: span-cols(4) 0 span-cols(1) 0;
  @include max-width {
    margin: span-cols(4, true) span-cols(1, true) span-cols(1, true) span-cols(1, true);
  }
}
