@import 'grid';

.above-the-fold {
  min-height: 90vh;
  background-image: url('../../../../images/secret-santa.png');
  position: relative;

  $pad: 35px;
  .hero-btn {
    position: absolute;
    bottom: $pad;
    left: 50%;
    transform: translateX(-50%) scale(1);
    min-width: 200px;
    height: 39px;
    text-align: center;
    &:hover, &:active {
      transition: all .3s ease-out;
      transform: translateX(-50%) scale(1.02);
    }
    .no-flexbox & {
      width: 300px;
      left: calc(50% - 150px);
    }
    filter: drop-shadow(6px 0px 5px $red-glow);
  }

  .joke {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateZ(0px);
    padding: $pad;
    width: 100%;
    max-width: 650px;
    .no-flexbox & {
      left: calc(50% - 325px);
    }
    text-align: left;
    @include fancyFont();
    font-size: 18px;
    line-height: 1.3;
  }
}
