@import 'grid';

.above-the-fold {
  min-height: 90vh;
  background-image: url('../../../../images/secret-santa.png');
  position: relative;

  $pad: 35px;
  .hero-btn {
    position: absolute;
    bottom: $pad;
    left: 50%;
    transform: translateX(-50%);
    min-width: 200px;
    text-align: center;
  }

  .joke {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: $pad;
    width: 100%;
    max-width: 650px;
    text-align: left;
    @include fancyFont();
  }
}
