.r-grid {
  display: block;
  font-size: 0;
}
.r-cell {
  .no-flexbox & {
    float: left;
    margin: 50px;
  }
  border: 1px solid $gold;
  display: inline-block;
  font-size: 16px;
  $mb: 1;
  margin-bottom: span-cols($mb);
  width: 100%; //mobile
  @include medium {
    //we have two cells per row here
    width: h-pc(($grid-col-count - 1) / 2);
    margin: 0 0 span-cols($mb) h-pc(1);
    &:nth-of-type(2n + 1) {
      margin-left: 0;
    }
  }
  @include large-up {
    //we have three cells per row here
    width: h-pc(($grid-col-count - 2) / 3);
    margin: 0 0 span-cols($mb) h-pc(1);
    &:nth-of-type(3n+1) {
      margin-left: 0;
    }
  }
  @include max-width {
    margin-bottom: span-cols($mb, true);
  }
}
.is-victim {
  background-color: #4294f0;
}
.is-conspirator {
  background-color: #ab162b;
}
