.r-community {
  background-color: $dark-white;
  position: relative;
}
.r-community__container {
  font-size: 0;
  @include medium {
    text-align: center;
  }
  @include large-up {
    padding-bottom: 130px;
    padding-top: 130px;
  }
}
.r-community-item {
  $w: 5; //5 cols on the psd
  $h: 3.59;
  $margin: 0.5;
  $ratio: $w/$h;
  display: inline-block;
  height: span-cols(18 / $ratio);
  margin-bottom: span-cols($margin, true);
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
  @include medium {
    height: span-cols(16 / $ratio);
    width: span-cols(16);
  }
  @include large-up {
    height: span-cols($h);
    margin-bottom: 0;
    margin-right: span-cols($margin);
    width: span-cols($w);
  }
  @include max-width {
    height: span-cols($h, true);
    margin-right: span-cols($margin, true);
    width: span-cols($w, true);
  }
  &:last-of-type {
    margin-right: 0;
  }
}
.r-community-item__thumbnail {
  height: 100%;
  width: auto;
}
.r-community-item__logo {
  display: inline-block;
  @include large-up {
    width: 20%;
  }
  width: 15%;
}
.r-community-item__title {
  @include openSansBold($mineshaft);
  font-size: 16px;
  $margin: 20px;
  margin: $margin auto;
  @include large {
    margin: $margin - 5px auto;
  }
  @include xlarge-up {
    margin: $margin + 5px auto;
  }
}
.r-community-item__copy {
  display: inline-block;
  font-size: 12px;
  @include courier($mineshaft);
  max-width: span-cols(3, true);
}
