.r-download {
  background-color: $dark-white;
  padding: 50px 0;
  position: relative;
  @include medium-up {
    padding: 90px 0;
  }
  text-align: center;
}
.r-download__title {
  @include openSansBold($mineshaft);
  font-size: 20px;
  margin-bottom: 22px;
}
.r-download__description {
  display: inline-block;
  font-size: 14px;
  @include courier($mineshaft);
  line-height: 22px;
  max-width: span-cols(14,true);
  text-transform: uppercase;
  @include large-up {
    width: span-cols(14);
  }
  width: span-cols(18);
}

.r-download-btn-container {
  margin: 0 auto;
  position: relative;
  width: 300px;
  @include medium-up {
    width: 100%;
  }
}

.r-download-btn {
  @include button($mountain-meadow);
  margin-bottom: 0;
  margin-top: 30px;
  @include medium-up {
    margin-left: span-cols(.25, true);
    margin-top: 42px;
    width: span-cols(3.5, true);
  }
}
