.r-hero {
  height: 100vh;
  position: relative;
  @include medium-down {
    min-height: 400px;
  }
  @include large-up {
    min-height: 550px;
  }
  text-align: center;
}
.r-hero__background {
  background-image: url($imagePath + 'layout/hero-background.jpg');
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.r-hero__discover {
  text-align: center;
  @include medium-up {
    max-width: h-pc(18);
    width: span-cols(8, true);
  }
  width: h-pc(18);

}

.r-hero__title {
  font-size: 30px;
  letter-spacing: 5px;
  position: relative;
  @include openSansBold();
  @include medium-up {
    font-size: 36px;
  }
  text-transform: uppercase;
}
.r-hero__subtitle {
  font-size: 12px;
  @include courier();
  letter-spacing: 0.2px;
  margin-top: 7px;
  position: relative;
  @include medium-up {
    font-size: 16px;
  }
}
.r-hero__cta {
  margin-top: 27px;
}
