.r-nav {
  display: inline-block;
  height: 60px;
  left: 50%;
  position: absolute;
  top: span-cols(1);
  transform: translateX(-50%);
  @include max-width {
    top: span-cols(1, true);
  }
}
.r-nav-item {
  position: absolute;
  top: 0;
}

.r-nav-logo {
  left: 0;
  width: span-cols(.85, true);
}

.r-menu {
  display: inline-block;
  position: absolute;
  right: 0;
  width: 42px;
  height: 22px;
}
.r-menu__line {
  background-color: $white;
  position: absolute;
  height: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  perspective: 50px;
}
.r-menu__line--first {
  top: 0;
}
.r-menu__line--second {
  top: 50%;
  transform-origin: left;
}
.r-menu__line--third {
  top: 100%;
}
