.ChartWrapper {
  height: 100vh;
}
.InnerChart, .OuterChart {
  position: absolute;
}

.ChartText__label, .ChartText__amt {
  stroke-width: 0;
  @include fontA();
}
.ChartText__label {
  font-size: 20px;
}
.ChartText__amt {
  font-size: 32px;
}
.OuterChart__g-first path {
  cursor: pointer;
}

.InnerChart {
  pointer-events: none;
  * {
    cursor: pointer;
    pointer-events: all;
  }
  user-select: none;
}


