.ChartWrapper {
  height: 100vh;
}
.InnerChart, .OuterChart {
  position: absolute;
}

.ChartText_label, .ChartText_amt {
  stroke-width: 0;
  font-family: "American Typewriter";
}

.OuterChart__g-first path {
  cursor: pointer;
}
