.r-card {
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  $mb: 1;
  margin-bottom: span-cols($mb);
  position: relative;
  width: 100%; //mobile
  min-height: 200px;
  @include medium {
    //we have two cells per row here
    width: h-pc(($grid-col-count - 1) / 2);
    margin: 0 0 span-cols($mb) h-pc(1);
    &:nth-of-type(2n + 1) {
      margin-left: 0;
    }
  }
  @include large-up {
    //we have three cells per row here
    width: h-pc(($grid-col-count - 2) / 3);
    margin: 0 0 span-cols($mb) h-pc(1);
    &:nth-of-type(3n+1) {
      margin-left: 0;
    }
  }
  @include max-width {
    margin-bottom: span-cols($mb, true);
  }
  @include cleanFont();
}

.r-card__back, .r-card__front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.r-card__back {
  background-color: $stranger-blue;
  background-image: url('http://www.riccardobellingeri.com/files/santa_claws.png');
  background-position: calc(100% - 5px) calc(100% - 5px);
  .no-flexbox & {
    background-position: bottom right;
  }
  background-size: 100px;
  background-repeat: no-repeat;
}

.r-card__front {
  background-color: $dark-red;
  background-image: url('http://www.riccardobellingeri.com/files/bad-santa.png');
  background-position: calc(100% + 22px) calc(100% + 2px);
  .no-flexbox & {
    background-position: bottom right;
  }
  background-size: 125px;
  background-repeat: no-repeat;
}

.name {
  @include fancyFont();
  p {
    display: inline-block;
    @include cleanFont();
  }
  font-size: 17px;
}

.victim-title {
  font-size: 13px;
  margin-bottom: span-cols(.25);
  @include max-width {
    margin-bottom: span-cols(.25, true);
  }
}
