/*----------  THIS STYLESHEET CONTROLS THE LAYOUT OF THE BUTTONS (e.g. CTA ON THE STATIC MODULE)  ----------*/
%button-base {
	$p-t: .15;
	$p-l: .25;
	$f-s: .22;
	$l-h: .2;
	$l-s: .02;
	$mult: 1;
	$m: 30px;

	display: inline-block;
	margin-top: $m / 2;
	margin-right: auto;
	margin-bottom: $m;
	margin-left: auto;
	min-width: span-cols(1.5, true);
	min-height: span-cols(.25, true);
	outline: none;
	border-radius: 3px;
	color: $silver-sand;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: $l-s * 100 + px;
	font-size: $f-s * 100 + px;
	line-height: $l-h * 100 + px;
	cursor: pointer;
	transition: all .4s $ease-out-expo;

	@include tungstenMedium($silver-sand);
	@include touch {
		border-color: $brand-green;
		color: $white;
	}
	@include small {
		padding: 13px 20px 13px;
		border: 2px solid rgba($nevada,.4);
		letter-spacing: 2px;
		font-size: 22px;
		line-height: 20px;
	}
	@include medium-up {
		padding: span-cols($p-t*$mult) span-cols($p-l*$mult) span-cols($p-t*$mult);
		border: 3px solid rgba($nevada,.4);
	}
	@include maxwidth {
		padding: span-cols($p-t, true) span-cols($p-l, true) span-cols($p-t, true);
		letter-spacing: span-cols($l-s, true);
		font-size: span-cols($f-s, true);
		line-height: span-cols($l-h, true);
	}
}

@mixin button($bg-color: $brand-green) {
	background-color: transparent;

	@extend %button-base;
	@include touch {
		background-color: $bg-color;
	}
}


.nba-container .mdew-hamburger-icon {
	position: absolute;
	top: 20px;
	right: 20px;
	left: auto;
	z-index: $z-index-40;
	box-shadow: rgba($white, .5) 0 0 0 3px inset;

	@include touch {
		background-color: $white;

		fill: $black;
	}

	fill: $white;
}
