.wpCarousel{
  position: relative;
  overflow: hidden;
  width:100%;
  .carousel{
    position:relative;
    white-space:nowrap;
    font-size:0;
    .item{
      display:inline-block;
      font-size:16px;
      white-space:normal;
      vertical-align:top;
      position:relative;
      &.dark{
        >a{
          .title, .subTitle{
            color: black;
          }
        }
      }
      &.light{
        >a{
          .title, .subTitle{
            color: green;
          }
        }
      }
      >a{
        display:block;
        width:100%;
        background:#000;
        >img{
          display:block;
          opacity: 1;
          transition: all 0.3s ease-out;
        }
        &:hover{
         >img{
            opacity: 0.8;
          }
        }
        .wrapText{
          width:100%;
          top:0;
          left:0;
          position:absolute;
          opacity:0;
          -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
          transition: all 0.3s ease-out;
          //text-rendering: optimizeLegibility;
          -webkit-backface-visibility: hidden;
          .device-mobile &{
            opacity:1;
          }
          &:before{
            //overflow:hidden;
            content: "";
            display: block;
            padding-top:48.787%;
          }
          .auxText{
            position:absolute;
			text-align:center;
			&:before{
				content: '';
				display: inline-block;
				height: 100%;
				vertical-align: middle;
				margin-right: -0.25em; /* Adjusts for spacing */
			}
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            .text{
              @extend %centered;
              .title{
                @extend %title-canvas;
                font:{
                  size:em(62);
                }
                margin-bottom:10px;
              }
              .subTitle{
                @extend %sub-title;
                font:{
                  size:em(14);
                }
              }
            }
          }
        }
      }
      &.canvas-hover {
         >a{
          .wrapText{
            opacity:1;
          }
        }
      }
    }
  }
  .counter{
    position:absolute;
    bottom:0;
    width:100%;
    >li{
      display:inline-block;
      >a{
        background:url(../images/modules/paginator/paginator.png) center center no-repeat;
        display:block;
        text-indent:-5000px;
        width:40px;
        height:40px;
        &:hover, &.active{
          background:url(../images/modules/paginator/paginator-current.png) center center no-repeat;
        }
      }
    }
  }
}

.firstCarousel {
  
}